# Virtual environment
.venv/

# VS Code
.vscode/

# Dataset
data/*
!data/canonical/
!data/canonical/.gitkeep
!data/retrieval/
!data/retrieval/.gitkeep
!data/quality/
!data/quality/.gitkeep

# macOS
.DS_Store